## Visual Studio
.vs/
*.user
*.suo
*.cache
.vscode/

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## .NET
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

## Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

## OS
Thumbs.db

## env files
env.yaml