ConnectionStrings__DefaultConnection: "magical connection string"
ASPNETCORE_ENVIRONMENT: "Production"
Python__ScriptPath: "some file path"
JWT__Key: "super secret key"
JWT__Issuer: "capstone issuer"
JWT__Audience: "capstone users"
Email__SmtpPort: 587
Email__SmtpPassword: "temp"